:root {
  --foreground: #fff;
  --foreground-rgb: 255, 255, 255;
  --background: #1d1d1d;
  --background-rgb: 29, 29, 29;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25rem;
  background: var(--background);
  color: var(--foreground);
}

.timer {
  font-size: 4rem;
  margin-bottom: 0;
}

button {
  color: var(--foreground);
  border: 1px solid var(--foreground);
  background: transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: serif;
}

button:hover,
button:focus {
  outline: none;
  background: rgba(var(--foreground-rgb), 0.1);
}

.between-session-screen .title {
  font-size: 2rem;
  margin-bottom: 0;
}
